* {box-sizing:border-box;}


body {
margin: 0;
padding:0;
font-family: 'Anton', sans-serif;
}

h1 {
color: #e1e1e1;
/*float: left;*/
margin-left: 1%;
margin-top: 0.5em;
}

footer h1 {
margin-right: 35%;
}

header {
 background-color:#403786;
  position:fixed;
  top:0;
  width:100%;
  z-index:1;
  overflow:hidden;
  height:92px;
}

main {
/*  margin-top: 4em;*/
 background-image: url("/All/dessert-erdnusse-essen-954201.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size: 100% 100%;
}
    
 nav {
  margin-right:1%;
/*  float: right;*/
  align-self:center;
}

nav ul {
list-style:none;
}

li {
padding: 0 4px;
color:white;
display:inline;
}

a {
color:white;
text-decoration:none;
}

footer {
 background-color: #035064;
/*  position:relative;*/
}

/*
.foot-container{

text-align:center;

margin-top: 1.5em;

}
*/



.icons li {
display: inline-block;
width: 40px;
height: 40px;
list-style:none;
}


.intro-icon {
    position: absolute;
    top: 0;
    width:90%;
    height: 30%;
    right: 55px;
    pointer-events: none;
}

.header-pattern-icon {
    position: absolute;
    top: 0;
    width: 90%;
    height: 30vh;
    right: 55px;
    pointer-events: none;
  fill: yellow;
}